/*  your css code here. If applicable */
*{
	background-color : black;	/*  #f8f8f8*/
}
.heading{
	text-align : center;
}
.mainbox{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}
.book-library {
	padding: 10px 0px;
	background-color:red; /* #ffffff */
	
        }
.book {
    text-align:center;
    background-color: #ffffff;
	margin: 15px;
        }
.title{
	font-weight: bold;
    text-align : left;
        }
.Author{
	color: #777777;
	text-align : left;
}
.price{
	background-color: #2ecc71;
	width : 100% ;
	color: white;
    adding: 5px 10px;
    border-radius: 5px;
	text-align : center;
            
}
        




